<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

  <div class="hero-unit">
    <h1><font face="helvetica" color="black">R.S.V.P.</font></h1>

    <style>
    body
    {
      background-image:url('http://i49.tinypic.com/4v6002.jpg');
      background-color: #000000;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position:center center;

    }
    </style>

    <h2><font color="orange">
      What will you discover?
    </font></h2>
<center>
    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
                              </center>
  </div>

 <!--  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %> -->
<% end %>